.my_nav_bar
{
    position:sticky;
    top:0;
    z-index:99999
}
.text
{border: rgba(216, 243, 245, 0.411) 8px inset;



}
.movie_head { font-size: 20px; padding: 6px 22px; border-radius: 10px; margin-bottom: 15px; } .movie_head i { float: right; } .movie_text span { color: orange; }
#bulldog{background-color: aqua;

text-align: center;
color: aquamarine
;

}
image{border-radius: 79px;}


